<div class="site-header">
    <div class="content">
        <div class="logo">
            <img alt="Generic Logo" class="logo" src="/assets/images/generic-logo-sm.png" />
        </div>

        <div class="navigation">
            <div class="wrapper">
                <nav>
                    <a routerLink="/home">Home</a>
                    <a routerLink="/about">About</a>
                    <a routerLink="/incidents">Incidents</a>
                </nav>
            </div>
        </div>
    </div>
</div>